.body {
    background-color: #051D3B;
    font-family: "Inter", sans-serif;
    width: 100%;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

/*cabeçalho*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 56px;
    margin: 32px 32px 0 32px;
}

.header__perfil{
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.header__perfil:hover {
    background-color: #ffffff8C;
    box-sizing: border-box;
    border-radius: 10px;
}

.header__logo--img{
    flex-grow: 0;
    height: 56px;
    padding-left: 8px;
}

.header__perfil--img{
    border-radius: 100%;
    margin: 10px;
    height: 32px;
}

.header__perfil--nome{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
}

.header__pesquisa{
    width: 65%;
}

.header__input {
    background-color: #ffffff26;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: #ffffffA6;
    font-size: 16px;
    line-height: 24px;
    height: 56px;
    padding-left: 10px;
    width: 100%;
}

.header__input:hover{
    background-color: #FFFFFF3D;
}

/*Área principal - MAIN*/

.main{
    display: flex;
    justify-content: space-between;
}

.principal{
    flex-grow: 1;
}

/*Menu*/

.menu{
    margin: 32px 0 32px 32px;
    width: 16%;
}

.menu__icone{
    display: none;
}

.menu__nav {
    display: flex;
    flex-direction: column;
}

.menu__titulo {
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
}

.menu__nav--div{
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-top: 16px;
    border-radius: 16px;
    padding-right: 8px;
}

.menu__nav--div:hover{
    background-color: #ffffff8C;
}

.menu__nav--icode{
    background-color: #5081FB;
    border-radius: 16px;
    box-sizing: border-box;
    color: #ffffff8C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0 ;
    height: 48px;
    width: 48px;
}

.menu__nav--text{
    color: #ffffff8C;
    font-size: 16px;
    line-height: 24px;
}

.active{
    color: #ffffff;
}

.menu__nav--iusers{
    background-color: #5081FB26;
    border-radius: 16px;
    box-sizing: border-box;
    color: #ffffff8C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    height: 48px;
    width: 48px;
}